@tailwind base;
@tailwind components;
@tailwind utilities;

.h-85s {
  height: 85vh;
}

.h-60s {
  height: 60vh;
}

.text-red-shadow {
  text-shadow: 2px 2px rgb(145, 66, 66);
}

.sm-caps {
  font-variant: small-caps;
}
